# Latihan 1

In [ ]:
data = []
angka = [2440506059, 2440506060, 2440506061, 2440506062, 2440506063]
print("Isi array NPM:", angka)

Isi array NPM: [2440506059, 2440506060, 2440506061, 2440506062, 2440506063]

# Latihan 2

In [ ]:
angka.append(59)
print("Array setelah penambahan elemen:", angka)

Array setelah penambahan elemen: [2440506059, 2440506060, 2440506061, 2440506062, 2440506063, 59]

In [ ]:
angka.pop(0)
print("Array setelah menghapus elemen pada indeks 0:", angka)

Array setelah menghapus elemen pada indeks 0: [2440506060, 2440506061, 2440506062, 2440506063, 59]

# Latihan 3

In [ ]:
nama = ['Teknik', 'Ekonomi', 'Keguruan dan Ilmu Pendidikan', 'Ilmu Sosial dan Ilmu Politik', 'Pertanian']

for fakultas in nama:
  print("Fakultas:", fakultas)

Fakultas: Teknik
Fakultas: Ekonomi
Fakultas: Keguruan dan Ilmu Pendidikan
Fakultas: Ilmu Sosial dan Ilmu Politik
Fakultas: Pertanian

## Latihan 4

In [ ]:
harga = [10000, 7300, 6900, 6000]

print("Jumlah total harga: Rp", sum(harga))

Jumlah total harga: Rp 30200

# Latihan 5

In [ ]:
matriks = [
    [6, 0, 3, 1],
    [4, 8, 6, 3],
    [7, 9, 2, 2]
]

print("Isi array 2D:")
for baris in matriks:
  print(baris)

Isi array 2D:
[6, 0, 3, 1]
[4, 8, 6, 3]
[7, 9, 2, 2]

# Latihan 6

In [ ]:
print("Elemen pada baris 2, kolom 4:", matriks[1][3])

Elemen pada baris 2, kolom 4: 3

# Latihan 7

In [ ]:
matriks.append([3, 11, 20, 6])
print("Matriks setelah ditambahkan baris baru:", matriks)

Matriks setelah ditambahkan baris baru: [[6, 0, 3, 1], [4, 8, 6, 3], [7, 9, 2, 2], [3, 11, 20, 6]]

# Latihan 8

In [ ]:
matriks[3].pop(2)
print("Array setelah menghapus elemen 3 dari baris terakhir:", matriks)

Array setelah menghapus elemen 3 dari baris terakhir: [[6, 0, 3, 1], [4, 8, 6, 3], [7, 9, 2, 2], [3, 11, 6]]

# Latihan 9

In [ ]:
matriks[3][2] = 14 #tanggal hari ini 14 Februari 2025
print("Array setelah mengubah elemen pada baris ke-3, kolom ke-2:", matriks)

Array setelah mengubah elemen pada baris ke-3, kolom ke-2: [[6, 0, 3, 1], [4, 8, 6, 3], [7, 9, 2, 2], [3, 11, 14]]

# Latihan 10

In [ ]:
belanja = ["Buku", "Bolpoin", "Pensil"]
belanja.append("Penghapus")
belanja.remove("Bolpoin")
print("Daftar belanja terbaru:", belanja)

Daftar belanja terbaru: ['Buku', 'Pensil', 'Penghapus']