#  Pengurutan Hasil Ujian Mahasiswa

In [9]:
def quick_sort(mahasiswa_list):
    if len(mahasiswa_list) <= 1:
        return mahasiswa_list
    else:
        pivot = mahasiswa_list[len(mahasiswa_list) // 2].nilai
        left = [m for m in mahasiswa_list if m.nilai > pivot]
        middle = [m for m in mahasiswa_list if m.nilai == pivot]
        right = [m for m in mahasiswa_list if m.nilai < pivot]

        return quick_sort(left) + middle + quick_sort(right)

mahasiswa_list = [
    Mahasiswa("Dio", 85),
    Mahasiswa("Garto", 92),
    Mahasiswa("Carmen", 78),
    Mahasiswa("Karina", 88),
    Mahasiswa("Vani", 84),
    Mahasiswa("Vian", 98),
    Mahasiswa("Andi", 67),
    Mahasiswa("Lala", 72)
]

mahasiswa_terurut = quick_sort(mahasiswa_list)

print("Daftar Mahasiswa Berdasarkan Nilai (Tertinggi ke Terendah):")
for m in mahasiswa_terurut:
    print(m)

Daftar Mahasiswa Berdasarkan Nilai (Tertinggi ke Terendah):
Vian, Nilai: 98
Garto, Nilai: 92
Karina, Nilai: 88
Dio, Nilai: 85
Vani, Nilai: 84
Carmen, Nilai: 78
Lala, Nilai: 72
Andi, Nilai: 67